[submodule "todo_frontend"]
	path = todo_frontend
	url = https://github.com/saurabh-lohiya/ToDo_Frontend.git
[submodule "todo_backend"]
	path = todo_backend
	url = https://github.com/saurabh-lohiya/ToDo_Backend.git
